<div class="row">
	<div class="services">
		<p>We don't have the technology to record or take pictures with the blinks of our eyes but the service and level of professionalism I provide is damn near close to it.</p>
		<p>Services I offer include but not limited to:</p>
			<ul>
				<li>Weddings, Engagements, Bridal Showers</li>
				<li>Portraits: Family, Professional, Personal</li>
				<li>Events</li>
			</ul>
	</div>
</div>