<div class="general-welcome-content grid">
	<div class="row">
		<% @categories.each do |category| %>
				<div class="columns small-4">
					<%=  link_to category_path(category) do%><label class = "cat_title"><%= category.name %></label><% end %><br>
					<%=  link_to category_path(category) do %><%= image_tag category.thumbnail, class: "welcome_thumbnail" %><%end%>		
				</div>			
		<% end %>
	</div>
</div>