// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation_and_overrides";

.general-welcome-content {
	.row {
		margin-top: 20px;
		.cat_title {
			text-align: center;
			margin-bottom: 0;
			margin-top: 10px;
			color: $white;
			font-size: 1em;
		}
		.welcome_thumbnail {
			width: 180px;
			height: 190px;
			border-radius: 10px;
			display: block;
			margin: 0 auto;
		}
	}
	h3 {
		color: $white;
		text-align: center;
	}
	#services, #contact {
		padding-left: 5%;
		padding-right: 5%;
	}
	#services {
		margin-top: 5%;
	}
	#contact {
		address {
			text-align: center;
			p {
				line-height: 1em;
			}
		}
	}

}