// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation_and_overrides";

.general-welcome-content{

	p, h4 { 
		color: $white;
	}

	.welcome_thumbnail{
		width: 150px;
		height: 150px;
		border-radius: 10px;
	}

}