<div class="contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a id="title-of-company" href="/">Ricky D. Photography</a></h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#"><span>Menu</span></a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="#">Shop</a></li>
				<li><%= link_to "Services", services_path %></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
				<li class="has-dropdown">
					<a href="#">Members</a>	
					<ul class="dropdown">
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</li>
			</ul>
		</section>
	</nav>
</div>